.about-wrapper{
    min-height:100vh;
    width:100vw;
    position: relative;
}
.about-title{
    height:fit-content;
    padding:1rem;
    text-align: center;
}

.about-description{
    width:100%;
    max-width: 50rem;
    margin:0 auto;
    padding:1rem;
    transform:translateX(-80%);
    min-height: max-content;
    opacity:0;
}
.about-description.show{
    transition: all 900ms;
    opacity:1;
    transform:translateX(0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-description p{
    font-size: 1.5rem;
    color:var(--bigtitles);

    text-align: left;
}

#dark .about-description p{
    color:#c2bcbc;
}
@media screen and (max-width:700px){
    .about-description{
        width:100%;
    }
    .about-description p{
        font-size: 1.4rem;
    }
}
@media screen and (max-width:500px){
    .about-description{
        width: 100%;
    }
    .about-description  p{
        font-size: 1.2rem;
    }   
}